{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'flujos:index' %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Modificar Flujo
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->
<div class="row">
    <div id="error-agregado"></div>
</div>

<form id="form-plantilla-flujo-update" action=" {{ flujos.get_absolute_url }} " method="post">
	{% csrf_token %}
    {{ form.as_p}}

    {% if mensaje_error_repetido != null %}
		<div id="hay-error-repetido" class="alert alert-danger" role="alert">
  			<i class="fa fa-fw fa-warning"></i>
  			<span class="sr-only">Error:</span>
 			 {{mensaje_error_repetido}}
		</div>

	{% endif %}
    {% if mensaje_error_vacio != null %}
		<div id="hay-error-vacio" class="alert alert-danger" role="alert">
  			<i class="fa fa-fw fa-warning"></i>
  			<span class="sr-only">Error:</span>
 			 {{mensaje_error_vacio}}
		</div>

	{% endif %}

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" value="{{nombre_plantilla}}"/>

    	<div class="row">
        <p style="text-align: center">Arrastre y ordene las actividades que desea seleccionar en el panel izquierdo</p>
		<div class="col-lg-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-sitemap fa-fw"></i>Actividades seleccionadas</h3>
				</div>
				<div class="panel-body">

                    <ul id="inactive_sortable" class="sort_slides ui-sortable">
                        <li class="invisible-li"></li>
                        {% for actividad in inactive %}
                            <li class="actividad ui-sortable-default ui-sortable-default" id="actividad_{{ actividad.pk }}">{{actividad.nombre}}</li>
                        {% endfor %}
                    </ul>

				</div>
			</div>
		</div>


		<div class="col-lg-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-th-list fa-fw"></i>Actividades disponibles</h3>
				</div>
				<div class="panel-body">

                    <ul id="active_sortable" class="sort_slides">
                        <li class="invisible-li"></li>
                        {% for actividad in active %}
                            <li class="actividad" id="actividad_{{ actividad.pk }}">{{actividad.nombre}}</li>
                        {% endfor %}
                    </ul>

				</div>
			</div>
		</div>
	</div>






    <input type="submit" value="Modificar" class="btn btn-success"/>
</form>
{% endblock %}